1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 1
print(a)

1

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [5]:
nombre = "Luca"

5) Crear una variable que contenga un número complejo

In [7]:
numero_Complejo = 11 * 2j

complex

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(numero_Complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
variablePi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
variable = 'True'
variable2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [11]:
type(variable)
type(variable2)

bool

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
variableSuma = 5 + 3.1

11) Realizar una operación de suma de números complejos

In [18]:
a = 2 + 2j
b = 2 + 6j
print(a + b)

(4+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [19]:
c = a + 12.3
print(c)

(14.3+2j)

13) Realizar una operación de multiplicación

In [20]:
print(2*3)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
cociente = 27 / 4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [23]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
resto = 27 % 4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
print(6 * 4 + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
alfa1 = "Luca"
alfa2 = "Python"
print(alfa1 + " <3 " + alfa2)

Luca <3 Python

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
print("2" == 2)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [30]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [32]:
a = float("3,8")

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [33]:
valor = 3
valor -= 3
print(valor)

0

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [34]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [35]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
int(2) + int('2')

4

26) Realizar una operación válida entre valores de tipo entero y string

In [40]:
var1 = 10
var2 = "Soy un "
print(var2 + str(var1))

Soy un 10